@use "effectSadie";

.shop {
  justify-content: center;
  align-items: center;
  margin: 160px 0;

  .imageStar {
    max-width: 50px;
    height: 26px
  }

  .informationShop {
    padding-top: 160px;
    padding-bottom: 80px;
    gap: 10px;
    display: flex;
    flex-direction: column;

    h3 {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
      color: #23A6F0;
      letter-spacing: 0.2px
    }

    h2 {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 50px;
      color: #252B42
    }

    h4 {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.2px;
      color: #737373
    }
  }

  .banners {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: clamp(200px, 100%, 4000px);

    .informationUnderBanner {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding-left: 25px;
      padding-right: 25px;
    }

    .banner {
      display: flex;
      flex-direction: column;

      &-image {
        position: relative;
        color: #fff;
        display: flex;
        flex-direction: column;
        &-row {
            width: 100%;
            display: flex;
            gap: 10px;
            justify-content: center;
        }
      }
    }


    h3 {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.1px;
      color: #252B42

    }

    h4 {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.2px;
      color: #737373
    }

    h5 {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.2px;
      color: #737373;
    }

    .dolars {
      display: flex;
      align-items: center;
      gap: 5px;
      margin-top: 8px;

      h5 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.1px;
        color: #BDBDBD
      }

      h6 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.1px;
        color: #40BB15
      }
    }

    .info-banner {
      display: flex;
      justify-content: space-between;
      align-content: center;
      font-family: 'Montserrat';
      margin-top: 15px;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.2px;
      color: #737373;

      &-item {
        display: flex;
        align-items: center;
        gap: 5px;

        span {
          line-height: 0;
        }
      }

    }

    .rank {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 25px;
      padding-bottom: 10px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.2px;
      color: #23A6F0;

    }

    .learnMore {
      display: flex;
      align-items: center;
      margin-top: 10px;
      width: 144px;
      height: 44px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.2px;
      color: #23A6F0;
      border: 1px solid #23A6F0;
      border-radius: 37px;
      background-color: transparent;

    }
  }

  .learnMore:hover {
    background-color: #23B6F0
  }
}

.rating {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 80px;

  .information {
    display: flex;
    flex-direction: column;
    gap: 10px;

    h5 {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.2px;
      color: #23A6F0;
    }

    h2 {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 50px;
      letter-spacing: 0.2px;
      color: #252B42;
    }

    h4 {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.2px;
      color: #737373;
    }
  }

  .rating-list {
    display: flex;
    margin-top: 55px;
    justify-content: space-around;
    align-items: center;


    &-item {
      display: flex;
      flex-direction: column;
      gap: 15px;
      justify-content: center;
      align-items: center;

      &:nth-child(1), &:nth-last-child(1) {
        margin: 0 -30px;
      }
    }

    .ratedStars {
      display: flex;
      width: 130px;
      height: 22px
    }


    h4 {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;

      text-align: center;
      letter-spacing: 0.2px;
      color: #737373
    }

    .iconRated {
      display: flex;
      margin-top: 15px;

      img {
        height: 50px;
      }

      .textAfterIcons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 15px;

        h5 {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.2px;
          color: #252B42;
        }

        h4 {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 24px;
          letter-spacing: 0.2px;
          color: #23A6F0;
        }
      }
    }
  }
}

