@use 'secondSection';

.primaryButton {

  font-family: 'Montserrat';

  padding: 15px 40px;
  gap: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.2px;
  color: white;
  background: #23A6F0;
  border-radius: 5px;
  border: none;
}

.primaryName {

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252B42;
}

.primaryButton:hover {
  background-color: #23B6F0
}


.navigationList {
  display: flex;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  gap: 20px;
  text-align: center;
  letter-spacing: 0.2px;

  color: #737373;

}

.horizontal-gradient {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(89.83deg, #FFFFFF 14.24%, #FFFFFF 14.25%, rgba(255, 255, 255, 0) 99.55%);
}

.background img {
  height: 100%;
  width: 100%;
 object-fit: cover;

}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  z-index: 0;


  //    background-image: url("/images/hero-3-cover.png");
}

.navigationRight {
  display: flex;
  align-items: center;
  gap: 40px
}

.mainPage {
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.content {
  max-height: 1440px;
  max-width: 960px;
  margin: auto;
  position: relative;
  z-index: 2;
  padding-bottom: 112px
}

.secondaryButton {
  border: none;
  background: transparent;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;

  text-align: right;
  letter-spacing: 0.2px;


  color: #23A6F0;
}

.mainBanner {
  margin-top: 125px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 35px;
  width: 599px;
  height: 401px;

}


h5 {

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.1px;

  /* primary-color */
  color: #23A6F0;

}

h1 {

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
  color: #252B42;


}

h4 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #737373;
}
